/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

.all .slider .item-box,
.all .slider-two .item-box {
    overflow: hidden;
    width: 100%;
    height: 450px;
    position: relative;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
